################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/aspnet-core/MB.STA/.vs/MB.STA/v17
