<div class="container my-4">
    <h1 class="page-title">Cars</h1>
    <hr>

    <button mat-raised-button color="primary" class="mb-3" [routerLink]="['/car/add']">Add New Car</button>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Model</th>
                <th>Plate Number</th>
                <th>Year</th>
                <th>Fuel Type</th>
                <th>Car Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let car of myBeautifulCars">
                <td>{{car.name}}</td>
                <td>{{car.model}}</td>
                <td>{{car.plateNumber}}</td>
                <td>{{car.makeYear | date: 'yyyy'}}</td>
                <td>{{ car.fuelType }}</td>
                <td>{{ car.carType }}</td>
                <td>
                    <a class="mr-2 text-info" [routerLink]="['/car', car.id]">
                        <mat-icon>info</mat-icon>
                    </a>
                    <a class="mr-2" [routerLink]="['/car/edit', car.id]">
                        <mat-icon>edit</mat-icon>
                    </a>
                    <a class="pointer text-danger" (click)="deleteCar(car.id)">
                        <mat-icon>delete</mat-icon>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>