<div class="container-fluid my-4">
    <h1 class="page-title">Bookings</h1>
    <hr>

    <button mat-raised-button color="primary" class="mb-3" [routerLink]="['/bookings/add']">Add New Booking</button>
    
    <mat-spinner class="mx-auto mt-5" *ngIf="showSpinner"></mat-spinner>
    <table class="table">
        <thead>
            <tr>
                <th>Booking#</th>
                <th>Pickup Time</th>
                <th>From Address</th>
                <th>To Address</th>
                <th>Price</th>
                <th>Driver</th>
                <th>Car</th>
                <th>Passenger</th>
                <th>Is Paid</th>
                <th>Payment Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let booking of bookings">
                <td>{{booking.id}}</td>
                <td>{{booking.pickUpTime | date: 'short'}}</td>
                <td>{{booking.fromAddress}}</td>
                <td>{{booking.toAddress}}</td>
                <td>{{booking.price}} JOD</td>
                <td>{{booking.driver?.name}}</td>
                <td>{{booking.car?.name}}</td>
                <td> </td>
                <td>
                    <span *ngIf="booking.isPaid">
                        <mat-icon class="text-success">check_circle</mat-icon>
                    </span>
                    <span *ngIf="booking.isPaid == false">
                        <mat-icon class="text-danger">cancel</mat-icon>
                    </span>
                </td>
                <td>{{booking.paymentDate | date: 'short'}}</td>
                <td>
                    <a class="text-info" [routerLink]="['/bookings/', booking.id]">
                        <mat-icon>info</mat-icon>
                    </a>
                    <a class="ml-1" [routerLink]="['/bookings/edit', booking.id]">
                        <mat-icon>edit</mat-icon>
                    </a>
                    <a class="text-danger pointer" (click)="deleteBooking(booking.id)">
                        <mat-icon>delete</mat-icon>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>