<div id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <h1>Sim Taxi Premium Experience</h1>
                <h2>We make the taxi ride a premium experience with class</h2>
                <div>
                    <button href="#" class="btn btn-get-started">Book Now</button>
                </div>
            </div>
            <div class="col-md-6">
                <img src="../../assets/imgs/banner-taxi.png">
            </div>
        </div>
    </div>

</div>

<div class="mb-4">
    <div class="container">
        <div class="section-title">
            <h2>Our Cars</h2>
            <p>Customers trust our transportation</p>
        </div>
        <ngb-carousel>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img class="d-block w-100" src="../../assets/imgs/taxi1.jpg" />
                </div>
                <div class="carousel-caption">
                    <h3>First slide label</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img class="d-block w-100" src="../../assets/imgs/taxi2.jpg" />
                </div>
                <div class="carousel-caption">
                    <h3>Second slide label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img class="d-block w-100" src="../../assets/imgs/taxi3.jpg" />
                </div>
                <div class="carousel-caption">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>

<div id="services" class="services section-bg ">
    <div class="container">

        <div class="section-title">
            <h2>Services</h2>
            <p>Check out the great services we offer</p>
        </div>

        <div class="row">
            <div class="col-md-3 d-flex align-items-stretch">
                <div class="icon-box">
                    <div class="icon"><i class="fab fa-dribbble"></i></div>
                    <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                    <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi
                        sint occaecati cupiditate</p>
                </div>
            </div>

            <div class="col-md-3 d-flex align-items-stretch">
                <div class="icon-box">
                    <div class="icon"><i class="fab fa-audible"></i></div>
                    <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                    <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi
                        sint occaecati cupiditate</p>
                </div>
            </div>

            <div class="col-md-3 d-flex align-items-stretch">
                <div class="icon-box">
                    <div class="icon"><i class="fab fa-centercode"></i></div>
                    <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                    <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi
                        sint occaecati cupiditate</p>
                </div>
            </div>

            <div class="col-md-3 d-flex align-items-stretch">
                <div class="icon-box">
                    <div class="icon"><i class="fab fa-airbnb"></i></div>
                    <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                    <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi
                        sint occaecati cupiditate</p>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="mb-4">
    <div class="container">

        <div class="section-title">
            <h2>FAQ</h2>
            <p>Frequently Asked Questions</p>
        </div>

        <ngb-accordion #acc="ngbAccordion" activeIds="static-1">
            <ngb-panel id="static-1" title="How much does the service cost?">
                <ng-template ngbPanelContent>
                    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit
                        laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est
                        pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt
                        dui.
                </ng-template>
            </ngb-panel>
            <ngb-panel id="toggle-2" title="Do you sell client data?">
                <ng-template ngbPanelContent>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon officia
                    aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                    wolf moon tempor,
                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                    keffiyeh helvetica,
                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                    lomo. Leggings
                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of
                    them accusamus
                    labore sustainable VHS.
                </ng-template>
            </ngb-panel>
            <ngb-panel id="toggle-3" title="Are you watching us now?">
                <ng-template ngbPanelContent>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon officia
                    aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                    wolf moon tempor,
                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim
                    keffiyeh helvetica,
                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                    lomo. Leggings
                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of
                    them accusamus
                    labore sustainable VHS.
                </ng-template>
            </ngb-panel>
        </ngb-accordion>

    </div>
</div>