<div class="container my-4">
    <h1 class="page-title">Car Details</h1>
    <hr>
    <button mat-raised-button [routerLink]="['/cars']">Back to list</button>
    <hr>

    <div class="row mb-3">
        <div class="col-md-2 font-weight-bold">Plate Number</div>
        <div class="col-md-10">{{detailsCar?.plateNumber}}</div>
    </div>
    <div class="row mb-3">
        <div class="col-md-2 font-weight-bold">Name</div>
        <div class="col-md-10">{{detailsCar?.name}}</div>
    </div>
    <div class="row mb-3">
        <div class="col-md-2 font-weight-bold">Year</div>
        <div class="col-md-10">{{detailsCar?.makeYear | date: 'yyyy'}}</div>
    </div>
    <div class="row mb-3">
        <div class="col-md-2 font-weight-bold">Fuel Type</div>
        <div class="col-md-10">{{ detailsCar?.fuelType }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-2 font-weight-bold">Car Type</div>
        <div class="col-md-10">{{ detailsCar?.carType }}</div>
    </div>
    
</div>